<h1 class="jumbotron">Add a new title to your @Model["artist"].GetArtist()</h1>
<form action="/artists" method="post">
  <div class="form-group panel panel-success">
    <div class="panel-heading">
      <h4>Add a new CD title</h4>
    </div>
    <div class="panel-body">
      <input name="artist-id" id="artist-id" value='@Model["artist"].GetId()' type=hidden>
      <label for="cd-name">CD Name</label>
      <input type="text" name="cd-name" class="form-control" id="cd-name">
    </div>
    <button type="submit" name="button">Add this title to your collection</button>
  </div>
</form>
<h5><a href="/">Go back to your home page</a></h5>
