<h1 class="jumbotron">Add a new artist</h1>
<form action="/artists" method="post">
  <div class="form-group panel panel-success">
    <div class="panel-heading">
      <h4>Add your new artist/band name here</h4>
    </div>
    <div class="panel-body">
      <label for="artist-name">Artist or Band Name</label>
      <input type="text" name="artist-name" class="form-control" id="artist-name">
    </div>
    <button type="submit" name="button">Add this band/artist to your collection</button>
  </div>
</form>
<h5><a href="/">Go back to your home page</a></h5>
