@{
  Layout="Shared/_Layout.cshtml";
}
<h1 class="jumbotron">CD Organizer</h1>
<h2>Go back to our vintage time</h2>
<div class="well">
  <h4><a href="/artists">View all artists in your collections</a></h4>
  <h4><a href="/artists/new">Add another artist into your collection</a></h4>
  <h4><a href="/artist-search">Search an artist by name</a></h4>
</div>
